<!DOCTYPE html>
<html lang='ko'>

<head>
    <meta charset='UTF-8'>
    <script src="/js/home/login.js" defer></script>
    <title>title</title>
</head>

<body>
    <input id="id" type="text" placeholder="아이디"><br>
    <input id="psword" type="text" placeholder="비밀번호">
    <button>로그인</button>
</body>

</html>